<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    to bedzie menu


<div>
    @RenderBody()
</div>



@RenderSection("ScriptsBottom", required: false)
</body>
</html>
